<div class="p-6 border-t border-gray-200 dark:border-gray-700 bg-white dark:bg-gray-800 transition-colors duration-200" id="chat_form">
  <%= render "account/app_editors/chat_form", app: app %>
</div>